/*todo pointer shape hovering on buttons*/
/*todo Make texts not selectable*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Press+Start+2P&display=swap");

:root {
  --accent: #c91051;
  --dark-grey: #222625;
  --light-grey: lightgrey;
}

* {
  color: var(--light-grey);
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
}

body {
  background-color: var(--dark-grey);
  height: 100vh;
}

#game-box {
  border-radius: 5px;
  box-shadow: 0 0 5px 5px var(--accent);
  display: flex;
  flex-flow: column nowrap;
  font-family: "Press Start 2P", cursive;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

#game-box > #upper-panel {
  display: flex;
  flex-flow: column nowrap;
}

#logo-box {
  font-size: 2rem;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  text-shadow: 0 0 5px var(--accent);
}

#logo-box > img {
  height: 4vh;
}

#info-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#info-box * {
  text-shadow: 0 0 5px var(--accent);
  font-size: 1.5rem;
}

#info-box > span:first-child {
  display: flex;
  align-items: center;
}

#minefield-box button {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 1px;
  background: black;
}